<section class="bg-purple my-2">
  <div id="idcontact" class="p-1">
    <h2 class="large">
      {{ 'contact.title' | translate }}
    </h2>
    <hr />
    <div class="icons my-2">
      <div>
        <a href="https://www.linkedin.com/in/andrescoxchuquimia/" target="_blank" class="py-1">
          <i class="fab fa-linkedin fa-2x"></i>
          <p class="lead">andrescoxchuquimia</p>
        </a>
      </div>
      <div>
        <a href="#" class="py-1">
          <i class="fas fa-envelope fa-2x"></i>
          <p class="lead">andreshcox@gmail.com</p>
        </a>
      </div>
    </div>
  </div>
</section>