<section class="bg-purple my-2">
  <div id="idcontact" class="p-1">
    <h2 class="large">
      Contact
    </h2>
    <hr />
    <div class="icons my-2">
      <div>
        <a href="https://www.linkedin.com/in/andrescoxchuquimia/" class="py-1">
          <i class="fab fa-linkedin fa-2x"></i>
          <p class="lead">andrescoxchuquimia</p>
        </a>
        <a href="#" class="py-1">
          <i class="fab fa-skype fa-2x"></i>
          <p class="lead">Andres Cox Chuquimia</p>
        </a>
      </div>
      <div>
        <a href="#" class="py-1">
          <i class="fas fa-phone fa-2x"></i>
          <p class="lead">+54 9 11 6359 3285</p></a
        >

        <a href="#" class="py-1">
          <i class="fas fa-envelope fa-2x"></i>
          <p class="lead">andreshcox@gmail.com</p>
        </a>
      </div>
    </div>
  </div>
</section>
