@import "src/scss/config";

section {
  padding: 20px;

  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.9);
}

h1 {
  padding: 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
  justify-items: baseline;
  i {
    width: 4rem;
    color: #fff;
  }
  a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: $light-color;
  }
  p {
    margin: 0;
  }
}

/* Small Screens */
@media (max-width: 860px) {
  .icons {
    flex-direction: column;
  }
  .lead {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
