.main {
  //   background-color: #66b391;
  background: url("https://images.alphacoders.com/782/78291.jpg");
  background-repeat: repeat; /* Indicamos que no se repetira */
  background-size: cover; /* Encajamos la imagen al 100% del ancho */
  background-attachment: fixed;
  //
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
