<div class="item my-5">
  <div class="project">
    <a href="{{ this.live_url }}">
      <img src="{{ this.img }}" alt="Project" />
    </a>
    <div class="btn-group">
      <a href="{{ this.live_url }}" class="btn btn-light">
        <i class="fas fa-eye"></i> Project
      </a>
      <a href="{{ this.github }}" class="btn btn-dark">
        <i class="fab fa-github"></i> Github
      </a>
    </div>
  </div>
  <div class="description">
    <h4 class="large">{{ this.title }}</h4>
    <p class="lead">
      {{ this.description }}
    </p>
    <div class="tecnologies">
      <ul>
        <li *ngFor="let tech of technologies.split(',')" class="text-primary">
          <i class="fas fa-check"></i> {{ this.tech }}
        </li>
      </ul>
    </div>
  </div>
</div>
