<section class="landing">
  <div class="dark-overlay bg-purple">
    <div class="landing-inner">
      <h1 class="x-large">Software Developer</h1>
      <hr />
      <p class="lead my-2">
        Hi, I'm Andres Cox. A software developer from Bolivia. Passionate for
        web programing, have worked with several frontend and backend
        technologies.
      </p>
      <!-- <br /> -->
      <p class="lead my-2">
        I studied Electronic Engineering at UMSA in La Paz, and I went through
        Systems branch. Now, I am in Buenos Aires looking for the oportunity to
        join a team, improve my skills and add value with my work.
      </p>
    </div>
  </div>
</section>
